
@media screen and (max-width: 600px) {
*{
    margin: 0;
    padding: 0;
}
body{
    padding: 10px;
}
#kapsama{
    width: 100%;
    height: 120px;
    padding: 10px 0;
}
#kelime{
    display: inline-block;
    width: 33%;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
}
#cevap{
    width: 33%;
    height: 30px;
    line-height: 30px;
}
#btn{
    display: block;
    width: 50px;
    padding: 10px 100px;
    text-align: center;
    margin: 10px auto;
}
#btn:hover{
    background-color: coral;
}
#durum{
    display: inline-block;
    width: 20px;
    height: 20px;
}

#tablo,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}
#tablo{
    width: 100%;
    height:auto;
    background-color: burlywood;
    margin: 0 auto;
    margin-top: 30px;
    
}
th,td{
    padding:10px;
}
#sonuc{
    margin: 0 auto;
    width: 90%;
    height: 30px;
}
}